:root {
  --main-color: #0673e8 !important;
}

* {
  user-select: none;
}

.loader {
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0;
  top: 0;
  z-index: 100;
  background-color: #fff;
}

.dark-mode {
  background-color: #1e1e28;
  opacity: all 0.5s ease-in-out;
  color: #fff;
}
.dark-mode > p,
.dark-mode > div,
.dark-mode > span,
.dark-mode .dic-2,
.dark-mode .dic {
  color: rgb(180, 180, 180) !important;
}
.dark-mode .link {
  color: var(--main-color);
  text-decoration: underline;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.mt-1 {
  margin-top: 1rem !important;
}
.mt-2 {
  margin-top: 2rem !important;
}
.mt-3 {
  margin-top: 3rem !important;
}
.mb-1 {
  margin-bottom: 1rem !important ;
}
.mb-2 {
  margin-bottom: 2rem !important ;
}
.mb-3 {
  margin-bottom: 3rem !important ;
}

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
}
#app {
  margin-top: 5rem;
  margin-bottom: 5rem;
  position: relative;
}
.container {
  width: 70%;
  margin: auto;
}
.container .row {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}
.container .row .image-content-side {
  width: 40%;
}
.container .row .name-disc-side {
  width: 60%;
  padding-left: 4rem;
}
.image-content-side .box-image {
  width: 100%;
  height: 300px;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.image-content-side .box-image img {
  max-width: 300px;
  max-height: 100%;
  width: 300px;
  border-radius: 7%;
  height: 100%;
}
.summary {
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 2rem;
}
.dic {
  width: 400px;
  color: #555;
  font-size: 14px;
}
.dic-2 {
  width: 100%;
  color: #555;
  font-size: 14px;
}
.text-primary {
  color: var(--main-color);
}
.content-box {
  padding: 0 15px;
}

.name-box,
.name-box-2 {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  font-size: 60px;
  font-weight: 500;
}
.name-box {
  display: none;
}
.name-box-2 {
  display: flex;
}

.title-box {
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
}
.row-2 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}
.row-2 .title {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.8rem;
}
.experience .title {
  font-weight: bold;
}
.row-3 .date {
  color: #555;
}
.link {
  text-decoration: none;
  color: #00f;
}
hr {
  margin: 1rem 0px !important;
  background-color: #555;
}

.b-container {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
}
.b-container .pdf {
  background-color: var(--main-color);
  border-color: var(--main-color);
  text-align: center;
  padding: 0.786rem 1.5rem;
  border-radius: 0358rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, background 0s, border 0s,
    -webkit-box-shadow 0.15s ease-in-out;
  font-weight: 500;
  color: #fff;
  font-size: 1rem;
  vertical-align: middle;
  user-select: none;
  line-height: 1;
  cursor: pointer;
  text-decoration: none;
}
.b-container .pdf:hover {
  box-shadow: 0 8px 25px -8px var(--main-color);
}

.icon-box {
  width: 30px;
  height: 30px;
  overflow: hidden;
  margin-inline: 1rem;
}
.icon-box img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

/* ********** Media Query *********** */

@media screen and (max-width: 1420px) {
  .container {
    width: 90%;
  }
}
@media screen and (max-width: 1150px) {
  .container .row {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container .row .image-content-side,
  .container .row .name-disc-side {
    width: 100%;
  }
  .container .row .name-disc-side {
    padding: 0 15px;
  }
  .name-box {
    display: flex;
  }
  .name-box-2 {
    display: none;
  }
  .dic {
    width: 100%;
  }
  .image-content-side .box-image {
    justify-content: center;
  }
  .b-container {
    top: unset;
    bottom: -4rem;
    right: 10px;
  }
}
@media screen and (max-width: 450px) {
  .name-box {
    font-size: 30px;
    height: auto;
    margin: 1.5rem 0;
  }
  .row-2 {
    flex-direction: column;
  }
}
